@import url(../fonts/fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: rgba(20, 17, 17, 0.596);
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url(https://img.freepik.com/free-photo/christmas-background-with-a-frame-decorated-with-festive-gifts-and-fir-branches_209487-1395.jpg?w=2000);
  background-color: bisque;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  .header,
  .main,
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-warning {
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 100px;
  background-color: rgb(187, 70, 70);
  border-radius: 25px;
  transition: 1s ease-in-out;
  p {
    color: azure;
  }
}

.active-warning {
  display: flex;
  transition: 1s ease-in-out;
}

@import url('./header.scss');
@import url('./content.scss');
@import url('./footer.scss');
